#upper_fotter{
    background-color: #011e29;
    /* height: 500px; */
    /* width: 100%; */
}

#subscribe_logo>img{
    height: 100px;
    width: 400px;
}
#subscribe_logo{
    width:  75%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* column-gap: 400px; */
}
#newsletter{
    color: white;
    font-family: Lato, sans-serif;
}
.subscribe__social>div>img{
    
    height: 40px;
    width: 40px;
    
}

.subscribe__social{
 display: flex;
 gap: 30px; 
}
#subscribe_input{
    width: 75%;
    margin: auto;
    padding-bottom: 20px;
    /* margin: 200px; */
    border-bottom: 1px solid #2d4456;
    display: flex;
    justify-content: space-between;
}
#fotter_select{
    height: 36px;
    border-radius: 4px;
}
#fotter_input{
    height: 30px;
    border-radius: 4px;
}

#fotter_button{
    height: 35px;
    border-radius: 4px;
    background-color:#011e29 ;
    color: white;
    border: 1px solid white;
}
#fotter_a_tags{
    /* border: 1px solid red; */
    /* margin-top: 20px; */
    width: 81%;
    margin: auto;
display: grid;
grid-template-columns: repeat(6,1fr);
/* justify-content: start; */

/* text-align: center; */
/* row-gap: 30px; */
}
a{
    text-decoration: none;
    color: #a3a09c;
    font-family: Lato,sans-serif;
}
#fotter_mid_head>a{
    color: white;
    font-size: 15px;
    
}
#fotter_a_tags >ul>li{
    margin-bottom: 20px;
    list-style-type: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}


